<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false" method="get">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="message" type="text" name="message" placeholder="" aria-label="" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="submit" >Ask!</button>
  </div>
</form>
